/************ 
TAG STYLES
 ************/
 
 html {
  height: 100%;
}
body {
  min-height: 100%;
}
 
body{
	background-color: rgba(0, 0, 0, 0.1);	
}
 
body, div {
    color: white;
    font-size: 12px;
    font-family: Lato, sans-serif;
}

video
{
	width: 800px;
	height: 480px;
}


#closeButton {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	background-color: none;
	border: none;
	cursor: pointer;
}

/************************
CREATIVE CONTENT STYLES
************************/	
#adContainer
{
	visibility: hidden;
}

#videoContainer
{
	visibility: hidden;
}

#formatLabel
{
	font-size: 18px;
	color: #ffffff;
	text-align: center;
    margin: auto;
}
.centered
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/**************************
MEDIA QUERY SIZING STYLES
**************************/
/*Portrait Styles*/
@media (max-width: 800px)
{
	#adContainer 
	{ 
		width: 800px;
		height: 480px;
	}
	
	#videoContainer
	{
		width: 800px;
		height: 480px;
	}

	/* fix video play button is not align to center for iOS when video is in small dimension, use 72x72 for play button dimension to calculate the top and left */
	video::-webkit-media-controls-start-playback-button {
		top: 16px;
		left: 84px;
	}
	
	#formatLabel
	{
		margin-top: 80px;
	}
	
}

/*Landscape Styles*/
@media (min-width: 480px)
{
	#adContainer 
	{
		width: 800px;
		height: 480px;
	}
	
	#videoContainer
	{
		width: 800px;
		height: 480px;
	}
		
	
	/* fix video play button is not align to center for iOS when video is in small dimension, use 72x72 for play button dimension to calculate the top and left */
	video::-webkit-media-controls-start-playback-button {
		top: 18px;
		left: 60px;
	}	
	
	#formatLabel
	{
		margin-top: 25px;
	}
}